@import '/src/index.scss';

.root {
  padding-top: 60px;
  background-color: $bg-secondary-dark;
}

.body {
  @extend .wrapper-box;
  display: flex;
  justify-content: space-between;
  padding-left: 40px;
}

.words_box {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  padding: 0px;
  margin: 20px 0px;
}

.word_control_box {
  width: 50%;
  display: flex;
  justify-content: space-between;
  column-gap: 10px;
}

.word_control_button {
  width: 120px;
  font-size: 16px;
  line-height: 24px;
  border-radius: 10px;
  height: 40px;
  border: none;
  cursor: pointer;
  background: #21262d;
  border: 1px solid rgba(240, 246, 252, 0.1);
  opacity: 1;
  transition: all 0.3s ease 0s;
  color: #c9d1d9;
  &:hover {
    border: 1px solid #8b949e;
    background: hsla(212, 12%, 18%, 1);
  }
  &:disabled {
    opacity: 0.3;
    cursor: default;
    &:hover {
      background: #21262d;
      border: 1px solid rgba(240, 246, 252, 0.1);
    }
  }
}
