@import '/src/index.scss';

.root {
  margin-top: 50vh;
  margin-bottom: 50vh;
  position: sticky;
  padding-top: 0px;
  top: 40px;

  flex: 1 0 60px;
  max-width: 60px;
  height: 100vh;
}

.wrap {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -100%);
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: none;
  background-color: inherit;
  opacity: 0.3;
  overflow: hidden;
  cursor: pointer;
  transition: opacity 0.3s ease 0s;
  &:hover {
    opacity: 0.6;
  }
}

.arrow {
  width: 50px;
  height: 50px;
  position: absolute;
  top: 50%;
  left: 50%;
}

.prev {
  transform: translate(-40%, -50%);
}

.next {
  transform: translate(-30%, -50%);
}
