@import '/src/index.scss';
.button {
  cursor: pointer;
  background-color: inherit;
  border: none;
}

.icon {
  width: 35px;
  height: 35px;
  color: $text-secondary-dark;
  transition: color 0.3s ease 0s;
  &:hover {
    color: $text-secondary-dark;
  }
}

.mute {
  @extend .icon;
  color: $text-secondary-dark;
  &:hover {
    color: $text-secondary-dark;
  }
}
