@import '/src/index.scss';
.button {
  cursor: pointer;
  background-color: inherit;
  border: none;
}

.icon {
  width: 35px;
  height: 35px;
  color: $font-color-dark;
}

.mute {
  @extend .icon;
  color: $text-secondary-dark;
}
