@import '/src/index.scss';

.wrapper {
  display: flex;
  align-items: center;
}
.box {
  padding: 40px 40px 60px;
  width: 400px;
  background-color: $bg-primary-dark;
  border-radius: 10px;
  margin-top: 60px;
}

.text {
  margin-top: 50px;
  display: flex;
  column-gap: 10px;
  justify-content: center;
  line-height: 28px;
}

.link {
  position: relative;
  opacity: 0.9;
  color: $main-color;
  transition: opacity 0.2s ease 0s;
  line-height: 28px;
  &:hover {
    opacity: 1;
    &::after {
      width: 90%;
    }
  }
  &::after {
    content: '';
    position: absolute;
    width: 0%;
    height: 1px;
    background: $main-color;
    left: 50%;
    transform: translateX(-50%);
    top: calc(100% + 3px);
    transition: all 0.2s ease 0s;
  }
}
