@import '/src/index.scss';

.main {
}

.box {
  @extend .wrapper-box;
  display: flex;
  justify-content: center;
  max-width: 1280px;
  position: relative;
}
.content {
  margin-top: 100px;
  width: 600px;
  height: 340px;
  border-radius: 10px;
  padding: 0px 20px;
}
.header {
  display: flex;
  justify-content: center;
  padding: 20px 0px;
  column-gap: 15px;
}

.result {
  display: flex;
  justify-content: space-between;
  column-gap: 15px;
  min-width: 260px;
}
.result_text {
  font-size: 28px;
  line-height: 32px;
  color: $text-secondary-dark;
  margin: 0px;
}

.result_points {
  @extend .result_text;
  color: $text-secondary-dark;
}

.words {
  height: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 15px;
  padding: 40px 0px;
}

.word {
  color: $text-primary-light;
  margin: 0px;
  font-size: 42px;
  line-height: 48px;
}

.translate {
  @extend .word;
  font-size: 28px;
  line-height: 32px;
}

.footer {
  display: flex;
  justify-content: space-around;
  padding: 40px 0px;
}
.button {
  width: 200px;
  border-radius: 10px;
  height: 44px;
  border: none;
  cursor: pointer;
  background: #21262d;
  border: 1px solid rgba(240, 246, 252, 0.1);
  opacity: 1;
  transition: all 0.3s ease 0s;
  color: #c9d1d9;
  &:hover {
    border: 1px solid #8b949e;
    background: hsla(212, 12%, 18%, 1);
  }
  &:disabled {
    opacity: 0.3;
    cursor: default;
    &:hover {
      background: #21262d;
      border: 1px solid rgba(240, 246, 252, 0.1);
    }
  }
}
.points_list {
  position: absolute;
  left: calc(100% - 200px);
  top: 100px;
  display: flex;
  flex-direction: column;
}

.points {
  font-size: 28px;
  line-height: 36px;
  display: flex;
  justify-content: flex-end;
  column-gap: 5px;
  opacity: 0.3;

  .points_sign {
    display: flex;
    justify-content: center;
    width: 20px;
  }
}

.points_hide {
  opacity: 0;
}
.points_true {
  color: $success;
}
.points_false {
  color: $fail;
}

.points_active {
  font-size: 72px;
  line-height: 84px;
  opacity: 1;

  .points_l {
    width: 40px;
  }
}

.dots {
  display: flex;
  justify-content: center;
  column-gap: 20px;
}

.dot {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: $text-secondary-dark;
}
.dot_true {
  background: $success;
}

.dot_false {
  background: $fail;
}
