@import '/src/index.scss';

.main {
  background-color: $bg-primary-dark;
}

.box {
  @extend .wrapper-box;
  display: flex;
  justify-content: center;
  max-width: 1400px;
  position: relative;
}
.content {
  margin-top: 100px;
  background-color: $bg-primary-dark;
  width: 600px;
  height: 340px;
  border-radius: 10px;
  padding: 0px 20px;
}
.header {
  display: flex;
  justify-content: center;
  padding: 20px 0px;
  column-gap: 15px;
}

.result {
  font-size: 28px;
  line-height: 32px;
  color: $font-color-dark;
}
.result_text {
  @extend .result;
  margin: 0px;
}

.result_score {
  @extend .result_text;
  color: $font-color-dark;
}

.words {
  height: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 15px;
  padding: 40px 0px;
}

.word {
  color: $text-secondary-dark;
  margin: 0px;
  font-size: 42px;
  line-height: 48px;
}

.translate {
  @extend .word;
  font-size: 28px;
  line-height: 32px;
}

.footer {
  display: flex;
  justify-content: space-around;
  padding: 40px 0px;
}
.button {
  width: 200px;
  border-radius: 10px;
  height: 44px;
  border: none;
  cursor: pointer;
  background: $text-secondary-dark;
  opacity: 0.8;
  transition: opacity 0.3s ease 0s;
  &:hover {
    opacity: 1;
  }
  &:disabled {
    opacity: 0.8;
  }
}
.points_list {
  position: absolute;
  left: calc(100% - 200px);
  top: 100px;
  display: flex;
  flex-direction: column;
}

.points {
  font-size: 28px;
  line-height: 36px;
  display: flex;
  justify-content: flex-end;
  column-gap: 5px;
  opacity: 0.3;
  transition: opacity 0.5s ease 0s;
  .points_l {
    display: flex;
    justify-content: center;
    width: 20px;
  }
}

.points_hide {
  opacity: 0;
}
.points_true {
  color: green;
}
.points_false {
  color: red;
}

.points_f {
  font-size: 72px;
  line-height: 84px;
  opacity: 1;

  .points_l {
    width: 40px;
  }
}

.dots {
  display: flex;
  justify-content: center;
  column-gap: 20px;
}

.dot {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: $bg-secondary-dark;
}
.dot_true {
  background: green;
}

.dot_false {
  background: red;
}
