@import '/src/index.scss';

.list {
  display: flex;
  column-gap: 40px;
  padding: 5px 0px;
}

.link {
  color: $text-secondary-dark;
  display: flex;
  column-gap: 10px;
  &:hover {
    color: $text-primary-light;
  }
}

.textbook,
.games {
  width: 30px;
  height: 30px;
}

.statistics {
  width: 28px;
  height: 28px;
}

.active {
  color: $text-primary-light;
  position: relative;
  &::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    background: $active-link;
    left: 50%;
    transform: translateX(-50%);
    top: calc(100% + 3px);
    transition: all 0.2s ease 0s;
  }
}

.text {
  text-decoration: none;
  font-size: 0.9rem;
  line-height: 1.5rem;
}
