@import '/src/index.scss';

.box {
  @extend .wrapper-box;
  /*  background-color: $bg-primary-dark; */
  color: $text-secondary-dark;
  margin-top: 30px;
  margin-bottom: 20px;
  max-width: 600px;
  border-radius: 20px;
  padding: 40px 20px;
  display: flex;
  flex-direction: column;

  row-gap: 20px;
}

.title {
  font-size: 28px;
  line-height: 36px;
  text-align: center;
  margin: 0px;
}
.subtitle {
  font-size: 20px;
  line-height: 28px;
  text-align: center;
  margin: 0px;
}
.pages {
  width: 60%;
  display: flex;
  flex-direction: column;
  row-gap: 15px;
}
.buttons {
  display: flex;
  justify-content: flex-end;
}
.button {
  box-sizing: border-box;
  width: 120px;
  border-radius: 6px;
  height: 32px;
  background-color: $main-color;
  color: $text-primary-light;
  border: none;
  cursor: pointer;
  overflow: hidden;
  font-size: 16px;
  line-height: 20px;
  padding: 5px 0px;
  transition: all 0.3s ease 0s;
  outline: none;
  &:hover {
    /*    border-color: var(--main-color);
    color: var(--text-color-gray); */
  }
  &:disabled {
    opacity: 0.5;
    cursor: default;
  }
}
.text {
  width: 100%;
  display: flex;
  flex-direction: column;
  row-gap: 5px;
  p {
    margin: 0;
    display: flex;
    /*   column-gap: 5px; */
    align-items: center;
    line-height: 28px;
  }
}

.label {
  width: 24px;
  height: 24px;
  color: $bg-primary-dark;
}

.level-1 {
  color: $group-1;
}
.level-2 {
  color: $group-2;
}
.level-3 {
  color: $group-3;
}
.level-4 {
  color: $group-4;
}
.level-5 {
  color: $group-5;
}
.level-6 {
  color: $group-6;
}
