@import '/src/index.scss';

.root {
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 100;
  background-color: $black;
}
.box {
  @extend .wrapper-box;
  display: flex;
  color: $text-secondary-dark;
  justify-content: space-between;
  align-items: center;
  height: 50px;
}
