$black: #010101;
$main-color: #0079bf;

$text-primary-dark: #212429;
$text-secondary-dark: #f2f3f4;

$bg-primary-dark: #212429;
$bg-secondary-dark: #495057;

$font-color-dark: #ffffff75;

$card-bg-dark: #ffdead;
$active-link: orange;
